@charset "UTF-8";
body{
    background-color: black;
}
main{
    background-color: rgb(65, 77, 87);
    padding: 10px;
    width: 550px;
    border-radius: 25px;
    box-shadow: 20px 25px 20px #aabdf7;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;

}


div{
    display: inline-block;
    margin: 5px 25px 5px 25px;
}

div:hover{
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    margin: auto;
    color: whitesmoke;
}
@media screen and (max-width:768px) {
    body{
        background-color: aliceblue;
    }
    main{
        background-color: rgb(0, 140, 255);
        padding: 10px;
        width: 550px;
        border-radius: 25px;
        box-shadow: 20px 25px 20px #aabdf7;
        margin: auto;
        text-align: center;
        justify-content: space-evenly;
    
    }
    h2{
        color: black;

    }
    
}

footer{
    color: aliceblue;
    text-align: end;
    margin: 20px 30px ;
}