*,
*::before,
*::after{
    box-sizing: border-box;}

*{
    margin: 0;}

body{
    font-family: system-ui;
    margin-inline:auto;
    width: 90%;}


img{
    display: block;
    max-width: 100%;}


.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 


}