@charset "UTF-8";


body{
    background-color: black;
}
h1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: aqua;
    background-color: blue;
}
p{
    color: aliceblue;
    background-color: violet;
}